.site-header {
  border: 3px dashed red;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  //height: 210px;
}

.logo {
  float: left;
  font-family: 'Faster One', cursive;
  font-size: 1.2em;
  h1 {
    margin-left: 20px;
    margin-top: 0;
  }
}

.login-logout-widget {
  border: 1px dashed green;
  float: right;
  padding: 10px;
  transition: all .2s linear;
  overflow: hidden;
  width: 40px;
  height: 18px;
  &.expanded {
    // width: 630px;
    // height: 60px;
    width: 215px;
    height: 190px;
  }
  &.logged-in {
    width: 350px;
    text-align: right;
  }
  form {
    height: 60px;
    .email-field {
      margin-bottom: 0;
    }
    .password-field {
      margin-top: 0;
    }
    .button {
      position: relative;
      top: -15px;
    }
  }
}

.login-link.ng-enter, .email-field.ng-enter, .password-field.ng-enter, .login-form .button.ng-enter {
  transition: .2s linear all;
  transition-delay: .2s;
  opacity: 0;
}

.login-link.ng-enter-active, .email-field.ng-enter.ng-enter-active, .password-field.ng-enter-active, .login-form .button.ng-enter-active {
  opacity: 1;
}

.login-link.ng-leave, .email-field.ng-leave, .password-field.ng-leave, .login-form .button.ng-leave {
  transition: none;
}

.nav {
  border: 1px dashed black;
  padding: 10px;
}

.admin-nav {
  float: right;
  clear: right;
}

.general-nav {
  float: left;
  clear: left;
  margin-top: 100px;
  .general-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-right: 20px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.dev-only {
  display: none;
  position: absolute;
  left: 30px;
  top: 80px;
  width: 250px;
  padding: 10px;
}